{% extends 'templates/base.twig' %}

{% block content %}

<div class="advantages">
   <div class="container">
      <h2 class="advantages__title">
         Вот что даёт участие в клубе
      </h2>
      <div class="row">
         <div class="col-sm-6">
            <div class="advantage">
               <div class="advantage__icon">
                  <img src="/images/advantages/1.svg" alt="">
               </div>
               <div class="advantage__text">
                  0 ₽ за старт в каждой поездке
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="advantage">
               <div class="advantage__icon">
                  <img src="/images/advantages/2.svg" alt="">
               </div>
               <div class="advantage__text">
                  Катаетесь с друзьями? Бронируйте до трёх самокатов с аккаунта с абонементом
                  — так у всех будет бесплатный
                  старт
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="advantage">
               <div class="advantage__icon">
                  <img src="/images/advantages/3.svg" alt="">
               </div>
               <div class="advantage__text">
                  Бесплатная пауза 15 минут в поездке — например, чтобы зайти за кофе или передохнуть
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="advantage">
               <div class="advantage__icon">
                  <img src="/images/advantages/4.svg" alt="">
               </div>
               <div class="advantage__text">
                  Если самокат недостаточно заряжен или с ним неудобно переходить дорогу,
                  замените по пути на другой — это бесплатно
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="about">
   <div class="container">
      <h3 class="about__title">
         Эксклюзивный доступ <br> к событиям Самокатов
      </h3>
      <div class="about__text">
         С абонементом — у вас доступ к специальным мероприятиям, скидки и классный мерч. В 2023 году мы танцевали
         на Даче Плюс с Антохой MC, катались на самокатах с Сергеем Мезенцевым и слушали хор Attaque de Panique
      </div>

      <div class="row">
         <div class="col-6">
            <div class="about__1">
               <img src="/images/about/1.jpg" alt="">
            </div>
            <img class="about__img-out" src="/images/about/2.jpg" alt="">

         </div>

         <div class="col-6">
            <div class="about__3">
               <img src="/images/about/3.jpg" alt="">
            </div>
            <div class="about__4">
               <img class="about__img-out" src="/images/about/4.jpg" alt="">
            </div>
         </div>
      </div>

      <div class="slider">
         <div class="slider__item">
            <img src="images/about/1.jpg" alt="">
         </div>
         <div class="slider__item">
            <img src="images/about/3.jpg" alt="">
         </div>
         <div class="slider__item">
            <img src="images/about/4.jpg" alt="">
         </div>
         <div class="slider__item">
            <img src="images/about/2.jpg" alt="">
         </div>
      </div>
   </div>
</div>

<div class="benefits benefits__pb">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <h3 class="h3 benefits__title">
               Купить абонемент и вступить в клуб смогут те, кто в Плюсе
            </h3>
            <div class="benefits__text">
               За каждую поездку на самокатах такие пользователи получают кешбэк баллами. Баллы можно тратить на поездки
               на самокатах и такси с Яндекс Go, покупки и заказы в других сервисах Яндекса
            </div>
         </div>
         <div class="col-6">
            <div class="benefits__img benefits__img-1">
               <img src="/images/benefits/1.png" alt="Самокат">
            </div>
         </div>
      </div>
   </div>
</div>

<div class="benefits ">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <div class="benefits__img benefits__img-2">
               <img src="/images/benefits/2.png" alt="Сообщество любителей самокатов">
            </div>
         </div>
         <div class="col-md-6">
            <h3 class="h3 benefits__title">
               80 % наших пользователей уже в клубе и экономят на поездках
            </h3>
            <div class="benefits__text">
               Присоединяйтесь — опция начнёт действовать в начале сезона–2024. Об открытии сезона предупредим заранее,
               чтобы вы были готовы
            </div>
            <div class="benefits__btn">
               <a href="#!" class="btn">
                  Хочу абонемент
               </a>
            </div>
         </div>
      </div>
   </div>
</div>

{% endblock %}