<header class="header ">
   <div class="container">
      <div class="header__wrapper">
         <a href="#!" class="header__logo">
            <img src="/images/logo.svg" alt="Яндекс GO - Вступайте в клуб Самокатов">
         </a>

         <h1 class="h1 header__title">
            Вступайте в клуб Самокатов
         </h1>

         <div class="header__subtitle">
            Купите абонемент, чтобы стать частью клуба в новом сезоне–2024. 8 месяцев за

            <div class="price">
               <span class="price__new">499 ₽</span>
               <span class="price__old"> 3190 ₽</span>
            </div>

         </div>

         <a href="#!" class="header__btn btn">
            Стать частью клуба
         </a>
      </div>

      <div class="header__img">
         <img src="images/header/header-bg.png" alt="Самокат">
      </div>
   </div>
</header>